/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height:3rem ;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hex-color: #20083a; 
    --first-color: #20083a;
    --first-color-second:#ff2c9c ;
    --second-main-color:#8c19d8;
    --title-color: #ffffff;
    --text-color:#111 ;
    --body3-color:#d1dbe0;
    --a-color-about:#0167ff;
    --a2-color-about:#ff2b90;
    --hover-color:#9d3bde
    --body-color: ;
    --container-color: ;
 /*========== Font and typography ==========*/
  --body-font: "Circular Std Book";
  --body2-font:"Poppins";
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --p-size:1.2rem ;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold:700;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

    }

/*===body===*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    .home_section{
        height: 100vh;
    }














    /*====ABOUT SECTION === */

   .about_section{
        position: relative;
        margin-top:70px;
        margin-bottom:40px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        display:block;
        min-height: 100vh;
        transition: .5s;
       transition: ease-in;


}
.abt1{
    position: relative;
    width:100%;
    height: 100%;
    padding: 50px;
    justify-content: space-between;
    display: inline-block;
    align-items: center;
    transition: .5s;
    
}
.abt1 .imgBox {
    position: relative;
    float: left;
    width: 50%;

}
.abt1 .imgBox img {
position: absolute;
top: 0;
left: 0;

}    
.abt1 .content{
    position: relative;
    float: right;
    margin-left: 30px;
    width: 50%;
    padding: 70px;
}
.abt1 svg{
    border-radius: 50%;
    padding: 8px;
}
.abt1 .textBox {
    position: relative;
    float: right;
    padding-top: 20px;
}
.textBox h3 {
    font-family: var( --body2-font);
    font-size:var( --mb-5) ;
    font-weight:var( --font-bold) ;
    line-height: 1.2em;
}
.textBox p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--body-font);
    font-size: var(--p-size);
    line-height: 1.7rem;
    opacity: .8;
}
.textBox a {
    text-decoration: none;
    font-family: var( --body2-font);
    font-size:var(--mb-2) ;
    font-weight: var(--font-medium);
    color:var(--a-color-about);
    cursor: pointer;

}
.textBox a::after {
    content: '';
    position: absolute;
    width: 40%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--a-color-about);;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.textBox a:hover::after,
.textBox a:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.abt2{
    position: relative;
    width:100%;
    height: 100%;
    padding: 50px;
    justify-content: space-around;
    display: table;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;

}
.abt2 .imgBox {
    position: relative;
    float: right;
    width: 50%;
    flex: 1;
    transition: .5s;
    transition: ease-in;
    display: table-cell
}
.abt2 .imgBox img {
position: absolute;
top: 0;
right: 0;
transition: .5s;


}    
.abt2 .content{
    margin-top: 100px;
    position: relative;
    float: left;
    width: 50%;
    flex: 0 0 45%;
    transition: .5s;
    transition: ease-in;
    display: table-row
}
.abt2 svg{
    border-radius: 50%;
    padding: 10px;
    background-color: #ff2c9c;
}
.abt2 .textBox {
    position: relative;
    float: left;
    padding-top: 20px;
}
svg {
    fill:#fff;
    transition: ease-in .5s all;
}




/*==== FOOTER SECTION===*/
.footer{
    position: relative;
    justify-content: space-between;
    display:inline-block;
    padding:100px 0 30px;
    line-height:24px;
    color:var(--title-color);
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
    

}
.row{
    display: flex;
    width: 85%;
    margin-left: 30px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}

.col{
    flex-basis: 25%;
    padding: 10px;
    
}

.im1{
    width: 160px;
    margin-bottom: 30px;
}
.col h2{
    font-size: var(--mb-4);
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
}

.col span{
    color: #f104f5;
    font-size: var(--mb-3);
    font-weight: var(--font-medium);
    margin-bottom:20px;
    
}
.text-justify{
color: var(--title-color);
font-size: var(--mb-2);
font-family:  var(--body2-font);
line-height: 1.7em;
margin-bottom: 15px;
}

.col h2::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 62%;
    border-top: 1px solid #fff;
    width:330px;
    opacity: .5;
    margin-left: 10px;

}
.col ul li {
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a {
    text-decoration: none;
    color: var(--title-color);
    position: relative;

}
.col ul li a i{
    width: 12px;
    margin-right: 8px;
    
    
}

.col ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f104f5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  	transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.col ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1.1);
}
.col ul li a:hover {
color: #f104f5;
;
}

.c1{
    margin-top: 65px;
}

.col form {
    padding-bottom: 15px;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.col form input {
    width: 200px;
    height: 40px;
    opacity: .9;
    padding: 20px;
    background-color: #503d63;
    color: #fff;
    border: 0;
    
    font-size: 15px;
    outline: none;
}
.col form button{
    width: 62px;
    height: 39px;
    background-color: #ff2c9c;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 0;
}
.col form button:hover{
    background-color: #9d3ade;
}
.right h1{

font-size: var(--mb-4);
    width: fit-content;
    position: relative;
    margin-bottom: 40px;

}
.right::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 34%;
    right: 0;
    border-top: 1px solid #fff;
    width:250px;
    opacity: .5;
    margin-left: 5px;

}
.right p {
    color: var(--title-color);
font-size: var(--p-size);
font-family:  var(--body2-font);
line-height: 1.7em;
margin-bottom: 15px;
}


.social-icons .fb-bg{
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color: #16599b;
}
.social-icons .bh-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#73b7ff;
}
.social-icons .tw-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#03a9f4;
}
.social-icons .dr-bg  {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    color:#eb5a89;
}
.social-icons .fb-bg:hover,.tw-bg:hover,.dr-bg:hover
,.bh-bg:hover{
    transform: scale(1.2);
}

/*====COPYRIGHT SECTION ====*/
.copyRight-sec{
    background-color: #000000;
    width: 100%;
    height: 55px;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size:20px;
    font-weight: 600;
}
.copyRight-sec a{
    text-decoration: none;
color: #c365f6;
}
